@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200&family=Roboto+Condensed&family=Roboto:wght@100;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    overflow-x: hidden;
}

.bodyone{
    background-color: rgb(60, 79, 94);
}
/* navagation of the website  */
.nava{
    width: 100%;
}

#logo{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: #fff;
    margin-right: 60%;
}
span{
    font-family: 'Lobster', cursive;
}
#logo:hover{
    background:fixed;
}
.nava a{
    text-decoration: none;
    color: #fff;
}
.nava ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 100%;
    height: 70px;
}
.homepage a{
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}
.nava li{
    display: inline-block;
    padding: 18px 25px;
    font-size: 20px;
    font-weight: bold;
}

#option{
    display: none;
}

#poption{
    color: #fff;
}

#option li{
    display: block;
    padding: 8px;
}

#poption:hover #option{
    display: block;
    margin-top: 22px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.nava li:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.89);
    background-color: rgba(167, 167, 167, 0.457);
}

/* body one css  */
.bdone{
    width: 100%;
    height: 100vh;
}

.homepage{
    width: 100%;
    height: 80vh;
    background-image: url(./img/bg.jpg);
    background-size:100%;
    /* background-attachment: fixed; */
    /* background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homepage h2{
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: #fff;
    font-size: 40px;
}
.homepage h3{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 15px;
    border: 1px solid black;
    margin-top: 20px;
}

.homepage h3:hover{
    background-color: #fff;
    cursor: pointer;
}

.homeimg{
    width: 300px;
}
.firstp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.firstp h3{
    font-family: Roboto;
    font-weight: 500;
    color: rgb(245, 244, 235);
    padding: 25px;
}
.firstp p{
    width: 800px;
    color: #fff;
    text-shadow: 1px 2px 3px #fff;
    font-size: 20px;
    text-align: center;
}

.jeweryimg h3{
    width: 100%;
    color: #fff;
    text-shadow: 3px 3px 5px black;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.image{
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.703);
    margin-left: 10px;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    box-shadow: 5px 2px 30px rgba(0, 0, 0, 0.2);

    position: relative;
}

.image img{
    width: 400px;
    padding: 10px 40px;
}
.image:hover img{
    padding: 5px 25px;
}
.image:hover{
    background-color: #fff;
}
.image p{
    width: 100%;
    height: 55px;
    color: rgb(60, 79, 94);
    font-size: 18px;
    text-align: center;

    position: absolute;
    bottom: 0;
}
.imgoje1,.imgoje2{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.one,.two,.three,.four,.five,.six{
    float: left;
}

.bodytwo{
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}
.footer{
    margin-top: -10px;
    width: 100%;
    background-color: rgba(60, 79, 94, 0.716);
}
.footer h2{
    padding: 10px 40px;
    color:rgb(255, 255, 255);
}
.footer ul{
    list-style-type: none;
}
.footer ul li{
    padding: 10px;
}
.footer li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.thirdfooter{
    display: flex;
    justify-content: center;
}
.firstfooter{
    float: left;
    margin-right: 30px;
    padding: 15px 30px;
    border-right: 1px solid rgb(255, 255, 255);
}
.secondfooter{
    padding: 15px 30px;
    float: left;
}
.thirdfooter{
    width: 200px;
}
.thirdfooter i{
    font-size: 30px;
    color: #fff;
}
.thirdfooter i:hover {
    cursor: pointer;
}
.thirdfooter li{
    display: inline-block;
    margin-left: 10px;
}
.bigfoot{
    display: flex;
    justify-content:space-around;
}
.power{
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
}
